body {
    font-family: 'Rokkitt', Verdana;
    font-size: 15px;
}

article>.sectionTitle {
    font-size: 20px;
}

.sectionTitle>h1 {
    font: small-caps bolder;
    font-family: 'Lato', Verdana;
    color: firebrick;
}

#contactDetails>ul>li {
    font: small-caps;
    text-align: right;
    list-style-type: none;
}

.subDetails {
    text-align: right;
    color: firebrick;
}

.sectionContent {
    text-align: center;
    border: 2px dashed firebrick;
}

h2 {
    color: burlywood;
}

#name {
    text-align: right;
    color: firebrick;
}

article>p {
    text-align: left;
}

.keySkills {
    text-align: left;
}